*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px;
}

header {
    background-color: #0088ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

main {
    padding: 40px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}
ul{
    margin-top: 10px;
    background-color: rgba(0, 150, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
}
li{
    margin-left: 20px;
}
footer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    font-size: 14px;
}
footer p{
    background-color: rgb(230, 230, 230);
    color: rgba(0, 0, 0, 0.4);
    margin-left: 100px;
}
.conimg{
    margin-left: 400px;
}