* {
    margin: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    font-size: 18px;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

main {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
p {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.pregunta {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff4500;
}

.respuesta {
    padding: 10px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 20px;
}
footer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    font-size: 14px;
}
footer p{
    background-color: rgb(230, 230, 230);
    color: rgba(0, 0, 0, 0.4);
    margin-left: 100px;
}
.conimg{

    margin-left: 400px;
}