* {
    margin: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px;
}

header {
    background-color: rgb(217, 181, 114);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

main {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
p,
ul,
li {
    color: #333;
}

h2 {
    color: rgb(220, 170, 90);
    border-bottom: 2px solid rgb(220, 170, 90);
    padding-bottom: 10px;
}

.ingredientes,
.procedimiento {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    font-size: 14px;
}
footer p{
    background-color: rgb(230, 230, 230);
    color: rgba(0, 0, 0, 0.4);
    margin-left: 100px;
}
.conimg{

    margin-left: 400px;
}