* {
    margin: 0px;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

article {
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(40, 40, 40);
    margin-bottom: 20px;
}

header {
    background-color: rgb(60, 60, 60);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h2:hover {
    color: yellow;
}

img {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 220px;
}
footer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(40, 40, 40);
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
footer p{
    margin-left: 100px;
}
.conimg{
    margin-left: 400px;
}